<div class="row">
<form action="/records/month" method="GET">
<div class="btn-group col">   
    <button class="btn btn-outline-dark" style="text-align: left;">
        月份
    </button>  
    <button class="btn btn-outline-dark dropdown-toggle dropdown-toggle-split" data-toggle="dropdown">
    </button>
    <div class="dropdown-menu">
        {{#times 12}}
        <button type="submit" class="dropdown-item" name="month" value="{{this}}">{{this}}</button>
        {{/times}} 
    </div> 
</div>
</form>
<form action="/records/category" method="GET">
<div class="btn-group col">   
    <button class="btn btn-outline-dark" style="text-align: left;">
        類別
    </button>  
    <button class="btn btn-outline-dark dropdown-toggle dropdown-toggle-split" data-toggle="dropdown">
    </button>
    <div class="dropdown-menu">
        <button type="submit" class="dropdown-item" name="category" value="家居物業">家居物業</button>
        <button type="submit" class="dropdown-item" name="category" value="交通出行">交通出行</button>
        <button type="submit" class="dropdown-item" name="category" value="休閒娛樂">休閒娛樂</button>
        <button type="submit" class="dropdown-item" name="category" value="餐飲食品">餐飲食品</button>
        <button type="submit" class="dropdown-item" name="category" value="其他">其他</button>
    </div> 
</div>
</form>
</div>

<div class="my-4 col-8">
    <p style="display:inline;">總金額:</p>
    <font align="center" style="color:orange;" size="7" class="ml-2">{{amount}}</font>
</div>

{{#each records}}
<div class="row">      
    <div class="col-8">
        <ul class="list-group">
            <li class="list-group-item">
                <div class="row">
                    <div class="col-auto">
                    {{#ifEquals this.category '家居物業'}}
                    <i class="fas fa-home"></i>
                    {{/ifEquals}}
                    {{#ifEquals this.category '交通出行'}}
                    <i class="fa fa-bus"></i>
                    {{/ifEquals}}
                    {{#ifEquals this.category '休閒娛樂'}}
                    <i class="fas fa-icons"></i>
                    {{/ifEquals}}
                    {{#ifEquals this.category '餐飲食品'}}
                    <i class="fas fa-hamburger"></i>
                    {{/ifEquals}}
                    {{#ifEquals this.category '其他'}}
                    <i class="fas fa-archive"></i>
                    {{/ifEquals}}
                    </div>
                    <div class="col-auto mr-auto">
                        <span>{{this.name}}</span>
                        <div><small>{{this.date}}</small></div>                 
                    </div>      
                    <div class="col-auto">
                        {{this.amount}}
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="col-4">
        <a class="btn btn-primary" href="/records/{{{this._id}}}/edit">修改</a>              
        <form action="/records/{{{this._id}}}/delete?_method=DELETE" method="POST" style="display: inline;">
            <button class="btn btn-danger" type="submit">刪除</button>
        </form>
    </div>
</div> 
{{/each}}

<a href="/records/new" class="btn btn-warning btn-lg mt-4 col-8">新增支出</a>

    




